exportPattern("^[^unique]")
# exportPattern("^[^\\.]")

importFrom(Biostrings, consensusString, consensusMatrix, DNAStringSet, IUPAC_CODE_MAP)
importFrom(IRanges, width)
importFrom(ape, read.tree, write.tree, unroot, all.equal.phylo, c.phylo, c.multiPhylo, rtree, drop.tip)
importFrom(geiger, heights, rescale)
importFrom(phangorn, nni, rNNI)
importFrom(grDevices, dev.off, pdf)
importFrom(graphics, layout, lines, matplot, plot, points, segments, text, hist)
importFrom(stats, as.dist, lm, predict)
importFrom(utils, read.delim, write.table)
importFrom(hierfstat, wc)
importFrom(parallel, mclapply, mcmapply)
importFrom(utils, timestamp)

S3method(plot, locus.dist)
S3method(plot, partitionedRAD)
S3method(plot, rankedPartitionedRAD)
S3method(print, pyRAD.loci)
S3method(summary, pyRAD.loci)
S3method(subset, pyRAD.loci)
