exportPattern("^[^unique]")

import(ape, Biostrings)
importFrom(geiger, heights, rescale)
importFrom(phangorn, nni, rNNI)
importFrom(hierfstat, wc)

S3method(plot, locus.dist)
S3method(plot, partitionedRAD)
S3method(plot, rankedPartitionedRAD)
S3method(print, pyRAD.loci)
S3method(summary, pyRAD.loci)
S3method(subset, pyRAD.loci)
